<div class="loading" *ngIf="!consejos" class="consejo-list-component">
  <md-spinner class="app-spinner"></md-spinner>
</div>

<div *ngIf="consejos" style="overflow-y:scroll;height:300px">

  <ion-list style="height:auto">
    <ion-card *ngFor="let consejo of consejos">

      <ion-card-header> <button ion-button (click)="editconsejo(consejo)"> {{ consejo.name }}</button></ion-card-header>
      <ion-card-content>
        <ion-list>

          <div> id: &nbsp;
            <ion-label>{{ consejo.id }}</ion-label>
          </div>

          <div> creado: &nbsp;
            <ion-label>{{ displayDate(consejo.creado) }}</ion-label>
          </div>

          <div> modificado: &nbsp;
            <ion-label>{{ displayDate(consejo.modificado) }}</ion-label>
          </div>

          <div> publicadorid: &nbsp;
            <ion-label>{{ consejo.publicadorid }}</ion-label>
          </div>

          <div> Nombre: &nbsp;
            <ion-label>{{ consejo.nombre }}</ion-label>
          </div>

          <div> Leccion: &nbsp;
            <ion-label>{{ consejo.leccion }}</ion-label>
          </div>

          <div> Fecha Asignado
            <ion-datetime disabled displayFormat="MM/DD/YYYY" [(ngModel)]="consejo.fechaasignado"></ion-datetime>
          </div>

          <div> Proxima
            <ion-toggle disabled [(ngModel)]="consejo.proxima"> </ion-toggle>
          </div>

          <div> Terminado
            <ion-toggle disabled [(ngModel)]="consejo.terminado"> </ion-toggle>
          </div>

        </ion-list>
        <div class = "actions"> <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteconsejo(consejo)">Delete</i> Edit</div>
      </ion-card-content>
     
    </ion-card>
  </ion-list>

</div>
