<div class="loading" *ngIf="!consejos" class="consejo-list-component">
  <md-spinner class="app-spinner"></md-spinner>
</div>

<div *ngIf="consejos" style="overflow-y:scroll;height:300px">

  <md-list style="height:auto">
    <md-card *ngFor="let consejo of consejos">

      <ion-card-header> <button ion-button (click)="editconsejo(consejo)"> {{ consejo.name }}</button></ion-card-header>
      <ion-card-content>
        <md-list>

          <md-list-item> id: &nbsp;
            <ion-label>{{ consejo.id }}</ion-label>
          </md-list-item>

          <md-list-item> creado: &nbsp;
            <ion-label>{{ displayDate(consejo.creado) }}</ion-label>
          </md-list-item>

          <md-list-item> modificado: &nbsp;
            <ion-label>{{ displayDate(consejo.modificado) }}</ion-label>
          </md-list-item>

          <md-list-item> publicadorid: &nbsp;
            <ion-label>{{ consejo.publicadorid }}</ion-label>
          </md-list-item>

          <md-list-item> Nombre: &nbsp;
            <ion-label>{{ consejo.nombre }}</ion-label>
          </md-list-item>

          <md-list-item> Leccion: &nbsp;
            <ion-label>{{ consejo.leccion }}</ion-label>
          </md-list-item>

          <md-list-item> Fecha Asignado
            <ion-datetime disabled displayFormat="MM/DD/YYYY" [(ngModel)]="consejo.fechaasignado"></ion-datetime>
          </md-list-item>

          <md-list-item> Proxima
            <ion-toggle disabled [(ngModel)]="consejo.proxima"> </ion-toggle>
          </md-list-item>

          <md-list-item> Terminado
            <ion-toggle disabled [(ngModel)]="consejo.terminado"> </ion-toggle>
          </md-list-item>

        </md-list>
      </ion-card-content>
      <div class = "actions"> <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteconsejo(consejo)">Delete</i> Edit</div>
    </md-card>
  </md-list>

</div>
