<ion-card *ngIf="tempDoc" class="consejo-insert-component">
  <div style="overflow-y:scroll;height:400px">
    <div style="height:auto">
      <div class="alert" *ngIf="!(tempDoc.synced$ | async)">
        <h4>Warning:</h4>
        <p>Someone else has <b>changed</b> this document. If you click save, you will overwrite the changes.</p>
        <button md-raised-button color="primary" (click)=tempDoc.resync()>resync</button>
      </div>

      <div class="alert deleted" *ngIf="(tempDoc.deleted$ | async)">
        <h4>Error:</h4>
        <p>Someone else has <b>deleted</b> this document. You can not save anymore.</p>
      </div>

      <ion-card-header> Consejo </ion-card-header>
      <ion-card-content>
        <ion-list>
          <div> id: &nbsp;
            <ion-label>{{ tempDoc.id }}</ion-label>
          </div>

          <div> creado: &nbsp;
            <ion-label>{{ displayDate(tempDoc.creado) }}</ion-label>
          </div>

          <div> modificado: &nbsp;
            <ion-label>{{ displayDate(tempDoc.modificado) }}</ion-label>
          </div>

          <!-- <div>
              <div>
                <ion-label floating>Nombre Consejo</ion-label>
                <ion-input type="text" [(ngModel)]="tempDoc.name" name="name"></ion-input>
              </div>
            </div> -->

          <div>
            <ion-label>Publicador</ion-label>
            <ion-select [(ngModel)]="tempDoc.publicadorid" submitText="Ok" cancelText="Cancel">
              <ion-option value="{{publicador.id}}" *ngFor="let publicador of publicadores">{{publicador.name}}</ion-option>
            </ion-select>
          </div>

          <div>
            <ion-label>Leccion</ion-label>
            <ion-select [(ngModel)]="tempDoc.leccion" submitText="Ok" cancelText="Cancel">
              <ion-option value="{{punto.num}}" *ngFor="let punto of puntosconsejo">{{punto.num}} - {{punto.nombre}}</ion-option>
            </ion-select>
          </div>

          <div> Fecha Asignado
            <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM D YYYY" min="2017" max="2020-10-31" placeholder="Escoger fecha"
              [(ngModel)]="tempDoc.fechaasignado"></ion-datetime>
          </div>

          <div>
            <button ion-button color="primary" (click)="BorrarFecha()">Borrar Fecha</button>
          </div>

          <div> Proxima
            <ion-toggle [(ngModel)]="tempDoc.proxima"> </ion-toggle>
          </div>
        </ion-list>

        <div> Terminado
          <ion-toggle [(ngModel)]="tempDoc.terminado"> </ion-toggle>
        </div>

      </ion-card-content>
    </div>
  </div>
  <div class = "actions">

    <button ion-button color="primary" (click)="cancel()">cancel</button>
    <button *ngIf="!(tempDoc.deleted$ | async)" ion-button color="primary" (click)=submit()>insert</button>

  </div>
</ion-card>
