<ion-card *ngIf="publicador" class="publicador-edit-component">
  <div style="overflow-y:scroll;height:400px">
    <div style="height:auto">
      <div class="alert" *ngIf="!(publicador.synced$ | async)">
        <h4>Warning:</h4>
        <p>Someone else has <b>changed</b> this document. If you click save, you will overwrite the changes.</p>
        <button md-raised-button color="primary" (click)=publicador.resync()>resync</button>
      </div>

      <div class="alert deleted" *ngIf="(publicador.deleted$ | async)">
        <h4>Error:</h4>
        <p>Someone else has <b>deleted</b> this document. You can not save anymore.</p>
      </div>

      <ion-card-header> {{ publicador.name }} </ion-card-header>
      <ion-card-content>
        <ion-list>
          <div> id: &nbsp;
            <ion-label>{{ publicador.id }}</ion-label>
          </div>

          <div> creado: &nbsp;
            <ion-label>{{ displayDate(publicador.creado) }}</ion-label>
          </div>

          <div> modificado: &nbsp;
            <ion-label>{{ displayDate(publicador.modificado) }}</ion-label>
          </div>

          <div>
            <div>
              <ion-label floating>Nombre Publicador</ion-label>
              <ion-input type="text" [(ngModel)]="publicador.name" name="name"></ion-input>
            </div>
          </div>

          <div> Presidente Sabado
            <ion-toggle [(ngModel)]="publicador.presidentesabado"> </ion-toggle>
          </div>

          <div> Discurso 1
            <ion-toggle [(ngModel)]="publicador.discurso1"> </ion-toggle>
          </div>

          <div> Lectura Biblia
            <ion-toggle [(ngModel)]="publicador.lecturabiblia"> </ion-toggle>
          </div>

          <div> Oracion1
            <ion-toggle [(ngModel)]="publicador.oracion1"> </ion-toggle>
          </div>

          <div> Oracion2
            <ion-toggle [(ngModel)]="publicador.oracion2"> </ion-toggle>
          </div>

          <div> Ayudante
            <ion-toggle [(ngModel)]="publicador.ayudante"> </ion-toggle>
          </div>

          <div> Primera conversacion
            <ion-toggle [(ngModel)]="publicador.primeraconversacion"> </ion-toggle>
          </div>

          <div> Revisita
            <ion-toggle [(ngModel)]="publicador.revisita"> </ion-toggle>
          </div>

          <div> Curso Biblico
            <ion-toggle [(ngModel)]="publicador.cursobiblico"> </ion-toggle>
          </div>

          <div> NVC 1
            <ion-toggle [(ngModel)]="publicador.nvc1"> </ion-toggle>
          </div>

          <div> NVC 2
            <ion-toggle [(ngModel)]="publicador.nvc2"> </ion-toggle>
          </div>

          <div> Estudio congregación
            <ion-toggle [(ngModel)]="publicador.estudiocongregacion"> </ion-toggle>
          </div>

          <div> Lector Estudio congregación
            <ion-toggle [(ngModel)]="publicador.lectorestudiocongregacion"> </ion-toggle>
          </div>

          <div> Lector Atalaya
            <ion-toggle [(ngModel)]="publicador.lectoreatalaya"> </ion-toggle>
          </div>

          <div> Camara
            <ion-toggle [(ngModel)]="publicador.camara"> </ion-toggle>
          </div>

          <div> Aparatos
            <ion-toggle [(ngModel)]="publicador.aparatos"> </ion-toggle>
          </div>

          <div> Cronómetro
            <ion-toggle [(ngModel)]="publicador.cronometro"> </ion-toggle>
          </div>

          <div> Presidente Domingo
            <ion-toggle [(ngModel)]="publicador.presidentedomingo"> </ion-toggle>
          </div>

          <div> Discurso Seamos mejores maestros
            <ion-toggle [(ngModel)]="publicador.smmdiscurso"> </ion-toggle>
          </div>


        </ion-list>
      </ion-card-content>
    </div>
  </div>
  <div class = "actions">

    <button ion-button color="primary" (click)="cancel()">cancel</button>
    <button ion-button *ngIf="!(publicador.deleted$ | async)" color="primary" (click)=submit()>submit</button>

  </div>
</ion-card>
