<ion-header>
  <ion-navbar>
    <ion-title>
      Scaffolding
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="scaffolding" padding>
  /**<br/> * custom typings so typescript knows about the schema-fields<br/> * @type {{ '{' }}[type]{{ '}' }} <br/> */
  <br/> import * as RxDB from 'rxdb';<br/> import {{ '{' }} Observable {{ '}' }} from 'rxjs';<br/>
  <div *ngFor="let item of scaffolding">

    <p>
      {{"//"}} {{ item.schema.title}}<br/> declare interface Rx{{item.classname}}DocumentData<br/> {{ '{' }}<br/>
      <p *ngFor="let p1 of item.schema.properties | values:'key'">
        {{p1.k}}?: {{p1.type}};
      </p>

      {{ '}' }} <br/> export class Rx{{item.classname}}Document extends RxDB.RxDocument <br/> {{ '{' }}<br/>
      <p *ngFor="let p1 of item.schema.properties | values:'key'">
        {{p1.k}}<span *ngIf="Required(item.schema.required, p1.k, p1.primary)">?</span>: {{p1.type}};
      </p>

      {{ '}' }} <br/> declare class Rx{{item.classname}}Collection extends RxDB.RxCollection &lt;Rx{{item.classname}}Document&gt;
      {{ '{' }} <br/> {{ '}' }} <br/>

      <p>//Default object</p>

      let default{{item.classname}} = {{ ' {' }}
      <p *ngFor="let p1 of item.schema.properties | values:'key'">

        <span *ngIf="p1.type === 'string';else non_string">
           {{p1.k}}:&quot;{{p1.default}}&quot;,
        </span>

        <ng-template #non_string> {{p1.k}}:{{p1.default}}, </ng-template>

      </p>
      {{ '}' }}
  </div>
  export class RxProgramasDatabase extends RxDB.RxDatabase {{ '{' }}<br/>
  <div *ngFor="let item of scaffolding">
    {{item.plural}}?: Rx{{item.classname}}Collection;<br/>
  </div>
  {{ '}' }}<br/> export default {{ '{' }}
  <div *ngFor="let item of scaffolding">
    Rx{{item.classname}}Document,<br/> Rx{{item.classname}}Collection,

    <br/>
  </div>
  <hr> RxProgramasDatabase {{ '}' }};<br/> declare var require: any;
  <div *ngFor="let item of scaffolding">

    <p>//Default object</p>

    let default{{item.classname}} = {{ ' {' }}
    <p *ngFor="let p1 of item.schema.properties | values:'key'">
      {{p1.k}}:{{p1.default}}, <br/>
    </p>
    {{ '}' }}


  </div>
  <hr>
  <p>//List items</p>
  <div *ngFor="let item of scaffolding">
    &lt;md-card-title&gt; &lt;button ion-button (click)=&quot;editPublicador(publicador)&quot;&gt; {{'{'}}{{'{'}} publicador.name
    {{ '}' }}{{ '}' }}&lt;/button&gt;&lt;/md-card-title&gt; &lt;md-card-content&gt; &lt;md-list&gt;
    <p *ngFor="let p2 of item.schema.properties | values:'key'">

      &lt;md-list-item&gt; {{p2.description}} &lt;ion-toggle disabled checked=&quot;{{'{'}}{{'{'}} {{item.singular}}.{{p2.k}} {{
      '}' }}{{ '}' }}&quot;&gt; &lt;/ion-toggle&gt;&lt;/md-list-item&gt;

    </p>
    &lt;/md-list&gt; &lt;/md-card-content&gt; &lt;md-card-actions&gt; &lt;i class=&quot;fa fa-trash-o&quot; aria-hidden=&quot;true&quot;
    (click)=&quot;deletePublicador(publicador)&quot;&gt;Delete&lt;/i&gt; Edit&lt;/md-card-actions&gt;
    <hr>
  </div>

  <p>//Edit/Insert items</p>
  <div *ngFor="let item of scaffolding">
    &lt;md-card-title&gt; &lt;button ion-button (click)=&quot;editPublicador(publicador)&quot;&gt; {{'{'}}{{'{'}} publicador.name
    {{ '}' }}{{ '}' }}&lt;/button&gt;&lt;/md-card-title&gt; &lt;md-card-content&gt; &lt;md-list&gt;
    <p *ngFor="let p2 of item.schema.properties | values:'key'">

      &lt;md-list-item&gt; {{p2.description}} &lt;ion-toggle {{'['}}{{'('}}ngModel{{ ')' }}{{ ']' }}=&quot;{{item.singular}}.{{p2.k}}&quot;
      &gt; &lt;/ion-toggle&gt;&lt;/md-list-item&gt;

    </p>
    &lt;/md-list&gt; &lt;/md-card-content&gt; &lt;md-card-actions&gt; &lt;i class=&quot;fa fa-trash-o&quot; aria-hidden=&quot;true&quot;
    (click)=&quot;deletePublicador(publicador)&quot;&gt;Delete&lt;/i&gt; Edit&lt;/md-card-actions&gt;
    <hr>
  </div>
</ion-content>
