<md-card *ngIf="tempDoc" class="publicador-insert-component">
  <div style="overflow-y:scroll;height:400px">
    <div style="height:auto">
      <div class="alert" *ngIf="!(tempDoc.synced$ | async)">
        <h4>Warning:</h4>
        <p>Someone else has <b>changed</b> this document. If you click save, you will overwrite the changes.</p>
        <button md-raised-button color="primary" (click)=tempDoc.resync()>resync</button>
      </div>

      <div class="alert deleted" *ngIf="(tempDoc.deleted$ | async)">
        <h4>Error:</h4>
        <p>Someone else has <b>deleted</b> this document. You can not save anymore.</p>
      </div>

      <md-card-title> {{ tempDoc.name }} </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item> id: &nbsp;
            <ion-label>{{ tempDoc.id }}</ion-label>
          </md-list-item>

          <md-list-item> Nombre Publicador
            <ion-input type="text" [(ngModel)]="tempDoc.name" name="name"></ion-input>
          </md-list-item>


          <md-list-item> Presidente Sabado
            <ion-toggle [(ngModel)]="tempDoc.presidentesabado"> </ion-toggle>
          </md-list-item>

          <md-list-item> Discurso 1
            <ion-toggle [(ngModel)]="tempDoc.discurso1"> </ion-toggle>
          </md-list-item>

          <md-list-item> Lectura Biblia
            <ion-toggle [(ngModel)]="tempDoc.lecturabiblia"> </ion-toggle>
          </md-list-item>

          <md-list-item> Oracion1
            <ion-toggle [(ngModel)]="tempDoc.oracion1"> </ion-toggle>
          </md-list-item>

          <md-list-item> Oracion2
            <ion-toggle [(ngModel)]="tempDoc.oracion2"> </ion-toggle>
          </md-list-item>

          <md-list-item> Ayudante
            <ion-toggle [(ngModel)]="tempDoc.ayudante"> </ion-toggle>
          </md-list-item>

          <md-list-item> Primera conversacion
            <ion-toggle [(ngModel)]="tempDoc.primeraconversacion"> </ion-toggle>
          </md-list-item>

          <md-list-item> Revisita
            <ion-toggle [(ngModel)]="tempDoc.revisita"> </ion-toggle>
          </md-list-item>

          <md-list-item> Curso Biblico
            <ion-toggle [(ngModel)]="tempDoc.cursobiblico"> </ion-toggle>
          </md-list-item>

          <md-list-item> NVC 1
            <ion-toggle [(ngModel)]="tempDoc.nvc1"> </ion-toggle>
          </md-list-item>

          <md-list-item> NVC 2
            <ion-toggle [(ngModel)]="tempDoc.nvc2"> </ion-toggle>
          </md-list-item>

          <md-list-item> Estudio congregación
            <ion-toggle [(ngModel)]="tempDoc.estudiocongregacion"> </ion-toggle>
          </md-list-item>

          <md-list-item> Lector Estudio congregación
            <ion-toggle [(ngModel)]="tempDoc.lectorestudiocongregacion"> </ion-toggle>
          </md-list-item>

          <md-list-item> Lector Atalaya
            <ion-toggle [(ngModel)]="tempDoc.lectoreatalaya"> </ion-toggle>
          </md-list-item>

          <md-list-item> Camara
            <ion-toggle [(ngModel)]="tempDoc.camara"> </ion-toggle>
          </md-list-item>

          <md-list-item> Aparatos
            <ion-toggle [(ngModel)]="tempDoc.aparatos"> </ion-toggle>
          </md-list-item>

          <md-list-item> Cronómetro
            <ion-toggle [(ngModel)]="tempDoc.cronometro"> </ion-toggle>
          </md-list-item>

          <md-list-item> Presidente Domingo
            <ion-toggle [(ngModel)]="tempDoc.presidentedomingo"> </ion-toggle>
          </md-list-item>

          <md-list-item> Discurso Seamos mejores maestros
            <ion-toggle [(ngModel)]="tempDoc.smmdiscurso"> </ion-toggle>
          </md-list-item>


        </md-list>
      </md-card-content>
    </div>
  </div>
  <md-card-actions>

    <button ion-button color="primary" (click)="cancel()">cancel</button>
    <button *ngIf="!(tempDoc.deleted$ | async)" ion-button color="primary" (click)=submit()>insert</button>

  </md-card-actions>
</md-card>
