<ion-card *ngIf="tempDoc" class="publicador-insert-component">
  <div style="overflow-y:scroll;height:400px">
    <div style="height:auto">
      <div class="alert" *ngIf="!(tempDoc.synced$ | async)">
        <h4>Warning:</h4>
        <p>Someone else has <b>changed</b> this document. If you click save, you will overwrite the changes.</p>
        <button md-raised-button color="primary" (click)=tempDoc.resync()>resync</button>
      </div>

      <div class="alert deleted" *ngIf="(tempDoc.deleted$ | async)">
        <h4>Error:</h4>
        <p>Someone else has <b>deleted</b> this document. You can not save anymore.</p>
      </div>

      <ion-card-header> {{ tempDoc.name }} </ion-card-header>
      <ion-card-content>
        <ion-list>
          <div> id: &nbsp;
            <ion-label>{{ tempDoc.id }}</ion-label>
          </div>

          <div> creado: &nbsp;
            <ion-label>{{ displayDate(tempDoc.creado) }}</ion-label>
          </div>

          <div> modificado: &nbsp;
            <ion-label>{{ displayDate(tempDoc.modificado)  }}</ion-label>
          </div>

          <div>
            <div>
              <ion-label floating>Nombre Publicador</ion-label>
              <ion-input type="text" [(ngModel)]="tempDoc.name" name="name"></ion-input>
            </div>
          </div>


          <div> Presidente Sabado
            <ion-toggle [(ngModel)]="tempDoc.presidentesabado"> </ion-toggle>
          </div>

          <div> Discurso 1
            <ion-toggle [(ngModel)]="tempDoc.discurso1"> </ion-toggle>
          </div>

          <div> Lectura Biblia
            <ion-toggle [(ngModel)]="tempDoc.lecturabiblia"> </ion-toggle>
          </div>

          <div> Oracion1
            <ion-toggle [(ngModel)]="tempDoc.oracion1"> </ion-toggle>
          </div>

          <div> Oracion2
            <ion-toggle [(ngModel)]="tempDoc.oracion2"> </ion-toggle>
          </div>

          <div> Ayudante
            <ion-toggle [(ngModel)]="tempDoc.ayudante"> </ion-toggle>
          </div>

          <div> Primera conversacion
            <ion-toggle [(ngModel)]="tempDoc.primeraconversacion"> </ion-toggle>
          </div>

          <div> Revisita
            <ion-toggle [(ngModel)]="tempDoc.revisita"> </ion-toggle>
          </div>

          <div> Curso Biblico
            <ion-toggle [(ngModel)]="tempDoc.cursobiblico"> </ion-toggle>
          </div>

          <div> NVC 1
            <ion-toggle [(ngModel)]="tempDoc.nvc1"> </ion-toggle>
          </div>

          <div> NVC 2
            <ion-toggle [(ngModel)]="tempDoc.nvc2"> </ion-toggle>
          </div>

          <div> Estudio congregación
            <ion-toggle [(ngModel)]="tempDoc.estudiocongregacion"> </ion-toggle>
          </div>

          <div> Lector Estudio congregación
            <ion-toggle [(ngModel)]="tempDoc.lectorestudiocongregacion"> </ion-toggle>
          </div>

          <div> Lector Atalaya
            <ion-toggle [(ngModel)]="tempDoc.lectoreatalaya"> </ion-toggle>
          </div>

          <div> Camara
            <ion-toggle [(ngModel)]="tempDoc.camara"> </ion-toggle>
          </div>

          <div> Aparatos
            <ion-toggle [(ngModel)]="tempDoc.aparatos"> </ion-toggle>
          </div>

          <div> Cronómetro
            <ion-toggle [(ngModel)]="tempDoc.cronometro"> </ion-toggle>
          </div>

          <div> Presidente Domingo
            <ion-toggle [(ngModel)]="tempDoc.presidentedomingo"> </ion-toggle>
          </div>

          <div> Discurso Seamos mejores maestros
            <ion-toggle [(ngModel)]="tempDoc.smmdiscurso"> </ion-toggle>
          </div>


        </ion-list>
      </ion-card-content>
    </div>
  </div>
  <div class = "actions">

    <button ion-button color="primary" (click)="cancel()">cancel</button>
    <button *ngIf="!(tempDoc.deleted$ | async)" ion-button color="primary" (click)=submit()>insert</button>

  </div>
</ion-card>
