<!-- <md-list *ngIf="publicadores" class="publicador-list-component">
    <md-list-item *ngFor="let publicador of publicadores" >

    </md-list-item>
</md-list> -->
<div class="loading" *ngIf="!publicadores" class="publicador-list-component">
    <md-spinner class="app-spinner"></md-spinner>
</div>
<ion-list *ngIf="publicadores" class="publicador-list-component">
    <div ion-item *ngFor="let publicador of publicadores" class="listPublicador">
    <button (click)="editPublicador(publicador)" >
            <!-- (click)="itemSelected(item)" -->


      <div class="name">
        {{publicador.name}}

      </div>

    </button>
    <div class="actions">

            <i class="fa fa-trash-o" aria-hidden="true" (click)="deletePublicador(publicador)">Delete</i>
        </div>
</div>

</ion-list>

<ion-header>
        <ion-navbar>
          <ion-title>Modals</ion-title>
        </ion-navbar>
      </ion-header>
