


<div class="loading" *ngIf="!publicadores" class="publicador-list-component">
  <md-spinner class="app-spinner"></md-spinner>
</div>




    <div *ngIf="publicadores"  style="overflow-y:scroll;height:300px" >

      <md-list style="height:auto" >
        <md-card *ngFor="let publicador of publicadores">
          <md-card-title> <button ion-button (click)="editPublicador(publicador)"> {{publicador.name}}</button></md-card-title>
          <md-card-content>
            <md-list>
              <md-list-item>Item 1
                <ion-toggle disabled checked="{{ publicador.camara }}"> </ion-toggle>
              </md-list-item>
              <md-list-item>Item 2
                <ion-toggle disabled checked="{{ publicador.camara }}"> </ion-toggle>
              </md-list-item>
              <md-list-item>Item 3
                <ion-toggle disabled checked="{{ publicador.camara }}"> </ion-toggle>
              </md-list-item>
            </md-list>
          </md-card-content>
          <md-card-actions> <i class="fa fa-trash-o" aria-hidden="true" (click)="deletePublicador(publicador)">Delete</i> Edit</md-card-actions>
        </md-card>
      </md-list>

    </div>

