<form autocomplete="off" *ngIf="tempDoc" class="hero-insert-component">
    <md-input-container>
        <input mdInput #input [(ngModel)]="tempDoc.name" [autofocus]="true" name="name" placeholder="Name" />
    </md-input-container>
    <br/>
    <md-input-container>
        <input mdInput type="number" [(ngModel)]="tempDoc.age" name="age" placeholder="Age" />
    </md-input-container>
    <br/>
    <button md-raised-button color="primary" (click)=submit()>insert</button>
{{tempDoc | json}}
</form>
