<md-card *ngIf="publicador" class="publicador-edit-component">
    <md-card-subtitle>Edit</md-card-subtitle>

    <div class="alert" *ngIf="!(publicador.synced$ | async)">
        <h4>Warning:</h4>
        <p>Someone else has <b>changed</b> this document. If you click save, you will overwrite the changes.</p>
        <button md-raised-button color="primary" (click)=publicador.resync()>resync</button>
    </div>

    <div class="alert deleted" *ngIf="(publicador.deleted$ | async)">
        <h4>Error:</h4>
        <p>Someone else has <b>deleted</b> this document. You can not save anymore.</p>
    </div>

    <md-input-container>
        Name: <input mdInput type="string" [(ngModel)]="publicador.name"   name="name" />
    </md-input-container>

    <br />
    <button md-raised-button color="primary" (click)="cancel()">cancel</button>
    <button *ngIf="!(publicador.deleted$ | async)" md-raised-button color="primary" (click)=submit()>submit</button>

</md-card>
