<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consejos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>RxDB Consejos</h3>
  <ion-card>
    <ion-card-header>Consejos</ion-card-header>
    <consejos-list (edit)="editHero($event)"></consejos-list>
  </ion-card>
  <br/>
  <ion-card>
    <ion-card-header>Insert</ion-card-header>
    <button ion-button (click)="insertConsejo()">Add Consejo</button>
  </ion-card>
</ion-content>