<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Publicadores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>RxDB Publicadores</h3>
  <md-card>
    <md-card-subtitle>Publicadores</md-card-subtitle>
    <publicadores-list (edit)="editHero($event)"></publicadores-list>
  </md-card>
  <br/>
  <md-card>
    <md-card-subtitle>Insert</md-card-subtitle>
    <button ion-button (click)="insertPublicador()">Add Publicador</button>
  </md-card>
</ion-content>